# THIS IS AN EXAMPLE .env FILE !! YOU NEED TO RENAME THIS FILE AND INSERT VALUES THERE.
# ALL COMMENTS SHOULD BE DELETED!

ADMIN=
TELEGRAM_TOKEN=

# Use only one value Russian or English
LOCALE="en" # Use only one value "ru" or "en" if not specified will be selected EN
ATERNOS_LOGIN=
ATERNOS_PASS=
ATERNOS_PASS_HASH=
